body {
	
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
	
}
#container{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}
#conta2inertop{
  width: 100%;
  height: 95%;
}
#quienesdiv{
  float: left;
  width: 20%;
  height: 10%;
  
}
#dondediv{
  float: left;
  width: 20%;
  height: 10%;
  
}
#pilaresdiv{
  float: left;
  width: 20%;
  height: auto;
}
#faqdiv{
  float: left;
  width: 20%;
  height: auto;
}
#linksdiv{
  float: left;
  width: 20%;
  height: auto;
}
header{
  color: #0F75BC;
  width: 100%;  
  height: 15%;  
  padding-top: 1%;  
  padding-bottom: 1%;  
  margin-top: 0px;  
  margin-right: 0px;  
  margin-bottom: 0px;  
  margin-left: 0px;  
  background-color: #FFFFFF; 
  --border-radius: 0px 0px 5px 5px;
  background: -moz-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%); 
  background: -webkit-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  background: -ie-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  background: -o-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  box-shadow: 1px 0px 5px 1px #000000;
  display: inline-block;
}
#panel1{
  float: left;
  width: 100%;
  position: relative;
  z-index: -10;
  align-content: center;
  margin-top: -2%;
 
  content: 
}
#paneluno{
  width: 100%;
  height: auto;
}
#logo{
  width: 15%;
  height: auto;
  z-index: 10; 
  margin-left: 0px;  
}
#logo img{
  width: 100%;
  height: 100%;
}
#mainsect{

	background-color: #FFFFFF;
	width: 100%;
	height: 40%;
  margin-top: -4%;
  z-index: 0;
  display: inline-block;
  padding: 1% 0px 1% 0px;
  box-shadow: 0px 1px 5px 1px #000000;
  box-shadow: 0px -1px 5px 1px #00000;
  
}
#pag2{
  background-color: white;
  width: 50%;
  min-height: 50%;
  margin: 50px auto;
  padding: 1% 0% 1% 0%;
  box-shadow: 1px 1px 10px #000000;
  box-shadow: -1px -1px 10px #000000;
  clear: both;
  vertical-align: middle;
}
#mainsect img{

  margin: 0px 0px;
  margin-top: 0px;
  padding: 0% 0% 0% 10%;
  width: 100%;
  height: 100%;
  -webkit-transition:-webkit-transform 0.2s ease-in-out 0.1s;
  -moz-transition:-moz-transform 0.2s ease-in-out 0.1s;
}
#mainsect div{
  min-width: 150px;
  max-width: 100%;
}
#htext{
  position: absolute;
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: -5%;
  float: left;
  
}
#htext img{
  width: 100%;
  height: 100%;
}
#lista1{
  display: inline-block;
  position: absolute;
  margin-top: -63%;
  margin-left: 1%;
  width: 20%;
  height: 30%;
  background-color: white;
  border-color: #0F75BC;
  border-width: 2px;
  list-style: none;
  padding: 5px 5px;
  padding-bottom: 10%;
  box-shadow: 1px 1px 10px #000000;
  box-shadow: -1px -1px 10px #000000;  
}
#lista1 li{
  background: white;
  --border-radius: 5px;
  padding: 10px 0px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #0F75BC;
  width: 90%;
  box-shadow: 1px 1px 3px #0F75BC; -1px -1px -3px #0F75BC;   
}
#lista1 img{
 padding: none;
}
footer{
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 0px;
  margin-top: 
  margin-left: 0%;
	clear: both;
  background-color: grey;
  box-shadow: -1px 0px 3px #0F75BC;
}
iframe{
  padding-left: 8%;
  position: relative;
  margin: auto auto;
}
#mainsect img:hover{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
   
}
a {
  display: inline-table;
  width: 80%;
  height: 80%
}
iframe{
  width: 85%;
  height: 360px;
  min-height: 80px;
  min-width: 40%;
}

#footerM{
  width: 10%;
  height: 100%;
  overflow: auto;
  display: inline-block;
  margin: auto;
}

#footerL{
  width: 40%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
}

#footerR{
  width: 40%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
}
footer img{
  width: 80%;
  height: 50%;
  padding: 10% 0%
}

#footerM #logo1{
  width: 100%;
}

#pilares{
  list-style: none;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  height: 90%;
  width: 100%;
  padding: 0% 0%;
}

#pilares li{
  width: 90%;
  height: 30%;
  text-align: justify;
  border: 1px solid #0F75BC;
  padding: 1% 1% 0% 0%;
  margin: 0% 0% 2% 4%;
  font-family: sans-serif;
  box-shadow: 0.5px 0.5px 8px grey;
  display: inline-block;
  clear: both;
}

#pilares a{
  text-align: center;
}
#pilares li img{
  float: left;
  height: 90%;
  width: auto;
  padding: 0%;
  margin: 0% 1% 0% 1%;
}

h2{
  font-size: 1.2em;
  text-align: center;  
  font-family: serif;
}
