body {
	background-image: url(img/banderaArg.jpg);
  background-repeat: repeat-y;
	background-size: 120% 50%;
	background-position: left-top;
	
}

header{

  text-align: center;
  box-shadow: 0px 3px 10px #666666;
}

h1 { 

  color: #0F75BC;
  width: 100%;  
  height: 20%;  
  font: normal 2.em Caladea;
  text-align: center;
  padding-top: 3%;  
  padding-right: 1px;
  padding-bottom: 3%;  
  padding-left: 15px;  
  margin-top: -8px;  
  margin-right: -8px;  
  margin-bottom: 0px;  
  margin-left: -8px;  
  background-color: #FFFFFF; 
  border-radius: 0px 0px 5px 5px;
  background: -moz-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  -webkit-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  -ie-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
}

#logo{

  position: top-left;
  z-index: 10;
  float: left;
  margin-top: -30px;
  margin-left: -10px;

}

#mainsect{

	background-color: #FFFFFF;
	width: 100%;
	height: 33%;
	margin-left: -7px;
	
  margin-top: 20%;
  padding: 30px 7.5px;
  box-shadow: 0px -3px 10px #666666;
  box-shadow: 0px 3px 10px #666666;

}

#mainsect img{

  margin: 0px 47px;
}

#headertext{
  width: 100%;
  margin-left: -8;
}
footer{
  width: 100%;
  padding: 20px 20px 4px 2px;
  margin-top: 100%;
  margin-left: -1%;
  float: left;
	clear: both;
  background-color: white;
}