body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#container{
	width: 100%;
	height: 100%;
	background-color: white;
}

header{
  color: #0F75BC;
  width: 100%;  
  height: 10%;  
  padding-top: 1%;  
  padding-bottom: 1%;  
  margin-top: 0px;  
  margin-right: 0px;  
  margin-bottom: 0px;  
  margin-left: 0px;  
  background-color: #FFFFFF; 
  --border-radius: 0px 0px 5px 5px;
  background: -moz-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%); 
  background: -webkit-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  background: -ie-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  background: -o-linear-gradient(top, #ECECEC 1%, #FFFFFF 25%, #FFFFFF 75%, #ECECEC 100%);
  box-shadow: 1px 0px 5px 1px #000000;
}

article{
	width: 98%;
	height: 100%;
}

p{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
}

span{
	font-size:70%;
}

#htext{
	width: 50%;
	height: auto;	
	margin-left: 25%;
	position: absolute;
  margin-top: -5%;
	
}

#htext img{
	width: 100%;
	height: auto;
}
#logo{
  width: 15%;
  height: auto;
  z-index: 10; 
  margin-left: 0%;
}

#logo img{
	width: 100%;
	height: auto;
}

footer{
	width: 100%;
  height: 20%;
  text-align: center;
  padding: 0px;
  margin-top: 0%;
	clear: both;
  background-color: grey;
  box-shadow: -1px 0px 3px #0F75BC;
}

#list{
	width: 98%;
	height: 100%;
}

.listItem{
	max-height: 20%;
	width: 100%;
	margin: 1%;
	border-style: solid;
	border: 1px;
	clear: both;
	background-color: white;
	overflow: auto;
	box-shadow: 1px 1px 5px 1px #999999, -1px -1px 5px 1px #999999;
	
}

.listItem img{
	object-fit: scale-down;
	border-radius: 200px;
  max-height: 15%;
	max-width: 15%;
	float: left;
	border-style: solid;
	border-color: #0F75BC;
	margin: 1%;
	
}

.subtitulo{
	width: 100%;
	height: 10%;
	padding: 1% 0%;
	background-color: #0F75BC;
	text-align: center;
	color: white;
	font-size: 150%;
	margin: 2% 0%;
}
#footerM{
  width: 10%;
  height: 100%;
  display: inline-block;
  margin: auto;
}

#footerM img{
  width: 60%;
	height: auto;
	padding: 10% 0%;
}

#footerL{
  width: 40%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
}

#footerR{
  width: 40%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
}
footer img{
  width: 100%;
  height: 50%;
}